.root{
    -fx-background-image: url(../ICON/CTCBackGround.jpg);
}

#BackB{
    -fx-background-color: darkturquoise;
    -fx-font-weight: bolder;
    -fx-text-fill: darkslategray;
}

#AddCTCB{
    -fx-background-color: darkturquoise;
    -fx-font-weight: bolder;
    -fx-text-fill: darkslategray;
}

#BackB:hover{
    -fx-background-color: lightskyblue;

}

#AddCTCB:hover{
    -fx-background-color: lightskyblue;

}