.root{
    -fx-background-image: url(../ICON/CTCEdit.jpg);
}

.button{
    -fx-background-color: darkturquoise;
    -fx-font-weight: bolder;
    -fx-text-fill: darkslategray;
}


.button:hover{
    -fx-background-color: lightskyblue;

}
